body {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    font-family: Cabin;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #10BBD5;
    width: 1400px;
    z-index: 100;
}

.container {
    background-color: #10BBD5;
    height: 72px;
    width: 1400px;
}

.content {
    width: 1400px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: baseline;
}

.logo-book {
    height: 72px;
    display: flex;
}

.logo-link {
    color: #F8FDFE;
    text-decoration: none;
    font-size: 24px;
    padding-top: 16px;
    padding-left: 4px;
}

.img-logo {
    margin: 17px 0;
    padding-left: 52px;
}

.cart-total {
    color: #F8FDFE;
    font-size: 16px;
    margin-right: 8px;
    margin-top: 24px;
    margin-left: 1061px;
}

.cart-button {
    background-image: url(/img/cart.svg);
    border: none;
    cursor: pointer;
    background-color: #10BBD5;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    background-repeat: no-repeat;
    margin-top: 16px;
}

.main-navigation {
    display: flex;
    background-color: #FFFFFF;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    min-width: 1400px;
}

.under-futer-title {
    font-size: 16px;
    font-weight: normal;
    padding-left: 52px;
}

.main-menu {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    min-width: 74px;
    padding-right: 52px;
}

.main-menu-item {
    list-style: none;
    padding-left: 40px;
}

.main-content {
    margin-top: 28px;
    background-color: #EEEEEF;
    padding-bottom: 120px;
}

.title {
    margin-top: 40px;
    padding-top: 64px;
    font-size: 32px;
    padding-left: 52px;
}

.title::after {
    content: "";
    display: block;
    width: 1296px;
    border-bottom: 1px solid #A8A8A8;
    margin-top: 23px;
    margin-bottom: 24px;
}

.main-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    padding: 0;
    padding-left: 52px;
}

.img-book {
    display: block;
    margin: 0 auto;
}

.main-item {
    padding: 32px;
    border: 1px solid #8E8E8E;
    width: 306px;
    background-color: #F8FDFE;
    position: relative;
}

.title-book {
    margin: 0;
}

.main-link {
    text-decoration: none;
    color: #1F1F1F;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 242px;
    display: block;
    position: relative;
}

.main-link::after {
    content: "";
    display: block;
    width: 241px;
    border-bottom: 1px solid #A8A8A8;
}

.author {
    color: #8E8E8E;
    font-size: 16px;
    margin: 0;
}

.price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    margin-top: 8px;
    display: inline;
}

.old-price {
    text-decoration: line-through;
    color: #8E8E8E;
    font-size: 24px;
    margin-left: 24px;
}

.purchase {
    color: #F8FDFE;
    font-size: 16px;
    padding: 8px 24px;
    display: block;
    margin: 16px auto;
    border-radius: 4px;
}

.in-stock {
    background-color: #4C394E;
}

.end-up {
    background-color: #4D762D;
    padding: 8px 55px;
}

.hit {
    background-color: #4200FF;
    color: #F8FDFE;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px 8px;
    position: absolute;
    top: 32px;
    left: 32px;
}

.new {
    background-color: #AF39E7;
    color: #F8FDFE;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px 8px;
    position: absolute;
    top: 32px;
    left: 32px;
}

.super-price {
    background-color: #EA33C0;
    color: #F8FDFE;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px 8px;
    position: absolute;
    top: 32px;
    left: 72px;
}

.action-20 {
    top: 32px;
    left: 32px;
}

.action {
    left: 85px;
}

.copyright::before {
    content: "\00A9";
    color: #F8FDFE;
    font-size: 16px;
}

.copyright {
    color: #F8FDFE;
    font-size: 16px;
    margin-left: 52px;
    margin-top: 32px;
}

.main-footer {
    background-color: #4C394E;
    width: 100%;
    margin-top: 0px;
    height: 88px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.rights {
    color: #F8FDFE;
    font-size: 16px;
    margin: 0;
    margin-right: 52px;
}

.chat-button {
    position: fixed;
    bottom: 50%;
    right: 28px;
    background-color: #10BBD5;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}