body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 60px;
    margin-right: 1050px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;

}

.logo-collor {
    color: #4BCAFF;

}

.logo-link {
    text-decoration: none;
    color: #000;
}

.container {
    width: 1480px;
    height: 1282px;
    flex-shrink: 0;
    margin-right: 100px;

}

.main-up {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top-menu {
    background-color: #35444F;
    width: 1210px;
    height: 69px;
    flex-shrink: 0;
    margin-right: 70px;
}

.top-menu-ul {
    width: 1279.999px;
    height: 69px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link-top-menu {
    text-decoration: none;
    color: #fff;

}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
    padding-right: 10px;
    padding: 10px;
}



.menu-item a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.menu-item a:hover {
    background-color: #222F3A;
}

.menu-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    height: 69px;
    width: 1px;
    background-color: white;
}

.menu-item:last-child::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    height: 100%;
    width: 1px;
    background-color: white;
}

.top-menu-li:hover {
    color: #eaeaea;
}

.link-top-menu::after {
    content: '';
    position: absolute;
    right: 100%;
    left: 5px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.link-top-menu:hover::after {
    background-color: #222F3A;
}

.filter {
    float: left;
    margin-top: 30px;
    margin-right: 1050px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #ffffff;
    width: 200px;

}

.filter-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.filter-li {
    margin-bottom: 5px;

}


.link-filter {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
    text-align: left;
    margin-top: -2px;
}


.link-filter:hover {
    background-color: #DBDBDB;
    color: #000;
    padding: auto;
}

.goat {
    display: block;
    padding-top: 75px;
    padding-bottom: 73px;
    padding-left: 297px;
    padding-right: 268px;
    border: 1px solid #000;
    margin-left: 260px;
    margin-top: -227px;


}

.main-foto {
    width: 320px;
    height: 381px;
}

.main {
    margin-left: 49px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}

.text {
    justify-content: center;
    padding-left: 403px;
    padding-right: 142px
}

.text1 {
    margin-top: 37px;
    color: #2C2C2C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.text2 {
    margin-top: 13px;
    color: #2C2C2C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 54px;
}

.footer {
    background-color: #63696E7A;
    width: 1210px;
    height: 69px;
    flex-shrink: 0;
    margin-left: 128px;
    padding-left: 40px;
    padding-top: 20px;
}


.footer-ul {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}

.footer-li {
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.link-down {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #0C1927;
    transition: color 0.3s, text-decoration 0.3s;
}

.link-down:hover {
    color: #3181A6;
    text-decoration: underline;

}

.footer-li:nth-last-child(1) {
    margin-left: 270px;
    color: #010101;
}